body#bodyContato {
    background: $back-linhas;
    background-attachment: fixed;
    background-size: cover;

    &:after {
        background: none;
    }

    .div-left {
        width: 85vh;
        float: left;
    }

    .div-right {
        padding: 3vh;
        background-color: #474646;
        width: 90vh;
        height: 70vh;
        float: right;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .input {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        width: 85vh;
        height: 7vh;
        margin-bottom: 3vh;
        padding: 1vh;
        background-color: #333333;
        color: white;
        border: none;
        outline: none;
    }

    .mensagem {
        border: none;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        padding: 1vh;
        width: 85vh;
        height: 35vh;
        background-color: #333333;
        color: white;
        outline: none;
    }

    .btnMensagem {
        width: 85vh;
        height: 8vh;
        align-items: center;
        position: center;
        font-size: 4vh;
        background-color: $cor-secundaria2;
        border: none;
        color: white;
        font-weight: 500;
    }

    .btnMensagem:hover {
        transition: 0.3s;
        background-color: darken($cor-secundaria2, 9);
    }

    .input:focus {
        border: 2.5px solid green;
        //border-color: darken($cor-secundaria2, 1);
        transition: 0.2s;
    }

    .mensagem:focus {
        border-color: darken($cor-secundaria2, 1);
        transition: 0.2s;
        border: 2.5px solid green;
    }
}

#contato {
    //width: 100%;
    //float: right;
    //display: flex;
    //justify-content: center;
    //flex-wrap: wrap;
}
