body {
    background-color: black;
    font-size: 1.1vW;
}

.container {
    float: left;
    text-align: center;
    background-color: transparent;
    border: 0.5vw solid red;
    width: 15vw;
    height: 10vW;
    color: white;
    margin-left: 2.9vw;
    margin-top: 1vw;
    padding-bottom: 1vw;
}

.btnVisualizar {
    margin-top: 4.5vw;
    background-color: white;
    width: 7vw;
    height: 2vW;
    color: black;
    cursor: pointer;
}
