body {
    background-color: black;
    font-size: 1.1vW;
}

.boxTitle{
    width: 100%;
    height: 1.5vw;
    background-color: white;
    color: black;
    padding-top: 0.5vw;
}

.container{
    float:left;
    text-align: center;
    background-color: transparent;
    border:0.5vw solid red;
    width: 28vw;
    height: 16vW;
    color: white;
    margin-left: 2.9vw;
    margin-top: 1vw;
    padding-bottom: 1vw;
}

.btnVoltar {
    float: right;
    text-align: center;
    background-color: white;
    width: 5vw;
    height: 2vW;
    color: black;
    margin-right: 15vw;
    margin-top: 10vw;
}